@import "../../styles/colors.scss";

.locations-container {
    color: $grey-1;
    header {
      font-size: 40px;
      .locations-grid {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2rem;
        }
    }
    .locations-content {
        width:100%;
        height: 100%;
        & > div{
            float: left;
            height: 100px;
            & > div {
                float: left;
                margin-top: 20px;
            }
        }
    }
}