@import './colors';

@mixin xebia-btn{
  background: $purple-grey 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border-radius: 4px;
  width: 181px;
  height: 55px;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.02rem;
  text-align: center;
  border-color: $purple-grey;
  display: inline-block;
  &:hover, &:focus, &:active, &.active {
    @include btn-interaction();
  }
}

@mixin btn-interaction{
  cursor: pointer;
  background: $purple-grey 0% 0% no-repeat padding-box !important;
  border-color: $purple-grey !important;
  box-shadow:0px 1px 6px #00000029 !important;
}