@import '../../styleUtils/mixins';

.welcomeWrapper{
  height: 100vh;
  align-items: center;
}

.imageMargin{
  margin-bottom: 2rem;
}

.welcomeText{
  flex-direction: column;
  align-items: space-around;
  h1{
    text-transform: capitalize;
    font-size: 3.75rem;
    color: $grey;
  }
  img{
    max-height: 773px;
  }
  button{
    @include xebia-btn();
  }
}

.welcomeImage{
  img{
    max-height: 773px;
  }
}