@import '../../styles/colors';

.cardWarpper{
  text-transform: capitalize;
  align-items: center;
}

.h5{
  font-size: 3.125rem !important;
  margin-bottom: 0;
  color: $grey-1;
}

.p{
  font-size: 1.25rem;
  margin-bottom: 0;
  color: $grey-1;
}

.cardImage{
  height: 4.875rem !important;
  padding-top: 0.75rem;
  max-width: fit-content !important;
}