
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.policyImage{
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  h1{
    font-size: 3.75rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 17rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    span{
      font-size: 3.875rem;
    }
  }
}

.policyContentWrapper{
  flex-direction: column;
  margin-right: 10.5% !important;
}

.leavePolicyTitle{
  position: relative;
}

.policyItems{
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  h1{
    font-size: 2rem;
    display: block; 
  }
}

.leaveCard{
  color: $grey-1;
  height: 12.75rem;
  margin-bottom: 1.5rem;
  h5{
    font-size: 1.5rem;
  }
  ul{
    font-size: 1rem;
    margin-top: 1.125rem;
    padding-left: 1.5rem;
    margin-bottom: 0;
    max-height: calc(100% - 114px);
    li{
      margin-bottom: 10px;
    }
  }
}

.backBtn{
  @include btn-interaction(#fff);
  box-shadow: none !important;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.backIcon{
  color: $grey-1;
  font-size: 1.5rem;
}

.leaveListWrapper{
  height: calc(100vh - 7.125rem);
  overflow-y: scroll;
}