@import '../../styles/colors';

.pillarsWrapper{
  padding: 8rem 0;
  align-items: center;
  flex-direction: column;
}

.cardCol{
  padding: 1.25rem;
}

.contentCard{
  height: 47.5rem;
  padding: 2.6rem 2.2rem;
  margin-top: 1.25rem;
  color: $grey-1; 
  border-radius: 0.625rem;
  ul{
    font-size: 1.25rem;
    li{
      margin-bottom: 1.6rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}