@import "../../styles/colors.scss";

.clients-container {
  color: $grey-1;
  header {
    font-size: 40px;
  }
  .client {
    height: 120px;
    width: 200px;
  }
  & > .clients-cards {
    width: 100%;
    & > div {
      max-height: 450px;
      overflow: auto;
      & > div {
        border: 1px solid $grey-3;
        img {
          width: 75px;
        }
      }
    }
    & > #clientsContainer::-webkit-scrollbar {
      height: 0px;
    }
  }
  .button-scroll {
    background-color: white;
    border: 1px solid $grey-4;
    color: $grey-4;
    font-weight: 500;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    padding: 0px 8px;
  }
}
